:root{
    --background-color: rgb(56 52 51);
    --description-color: rgb(204 204 202);
    --left-nav-color: rgb(30 59 139);
}

html, body {
    height: 100%; /* Garantir que o html e o body ocupem 100% do viewport */
    margin: 0;    /* Remover margens padrão */
}
body{
    height: 100%;
}
.margin{
align-self: center;
width: 70%;
height: 100%;
margin: auto;
}

.container {
    background-color: var(--background-color);
    display: grid;
    /* grid-template-columns: 20% 40% 40%;  */
    /* grid-template-rows: 30% 30% 30%; */
    grid-template-areas: 
        "nav post1 post2"
        "nav post3 post4"
        "footer footer footer"; /* Áreas definidas corretamente */
    gap: 3px;
}

.celula {
    height: 100%;
    background-color: aqua;
}

.celula:is(:nth-child(1)) {
    grid-area: nav;
    background-color: blueviolet;
}

.celula:is(:nth-child(2)) {
    grid-area: post1;
    background-color: brown;
}

.celula:is(:nth-child(3)) {
    grid-area: post2;
    background-color: brown;
}

.celula:is(:nth-child(4)) {
    grid-area: post3;
    background-color: brown;
}

.celula:is(:nth-child(5)) {
    grid-area: post4;
    background-color: brown;
}

.celula:is(:nth-child(6)) {
    grid-area: footer;
    background-color: cadetblue;
}